* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 50px auto;
}

div {
    width: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1 {
    animation-name: animation;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.col2 {
    animation-name: animation;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.col3 {
    animation-name: animation;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.col4 {
    animation-name: animation;
    animation-duration: 250ms;
    animation-delay: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

.col5 {
    animation-name: animation;
    animation-duration: 125ms;
    animation-delay: 125ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}

@keyframes animation {
    0% {
        background-color: black;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}